auto/
*~
/skripte/*.pyc
????-??-??+??-??-??-[0-9a-f]*/
/german.dic
/pre-1901.wl
/dehyph*-x*/*
/de-Latf/*
/de-long-s/*
dokumente/index.html
tmp*
temp*
*#*
*swp
/skripte/python/lang_s/words-de-1901-de-1996-Latf.txt
/skripte/python/lang_s/words-de-1901-Latf.txt
/skripte/python/lang_s/words-de-1996-Latf.txt
/skripte/python/edit_tools/wortteile/vorsilben.pdf
