auto/
*~
/skripte/*.pyc
/skripte/python/histogramm/*.tsv
/skripte/python/histogramm/*.png
????-??-??+??-??-??-[0-9a-f]*/
/wortliste-lang-s
/german.dic
/pre-1901.wl
/dehyph*-x*/*
/de-Latf/*
/de-long-s/*
dokumente/index.html
tmp*
temp*
*#*
*swp
