*~
*.diff
*.patch
*.pyc
*.py.txt
*.html
*.todo
analyse.txt
arbeitsstand.txt
vorsilbe-*
teilwoerter-de-*
teilwort-*
wortliste-*
zusatz-*
spell*
histogramm/*.tsv
histogramm/*.png
lang_s/words-*-Latf.txt
